
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <br />
    <br />
    <h1 style="text-align:center">Welcome To The English Website</h1>
    <br />
    <p style="font-size:20px;">Hello all teachers and students... We have established this website to help you in your school life.English is very important for us both in school life and in normal life. Knowing English makes you a citizen of the world and creates a new perspective.</p>
    <p style="font-size:20px;">The most important verbs used in daily life have meanings and more to come. Be aware of future applications by following me.</p>
    <br />
    <div class="card-group">
        <div>
            <img src="~/img/resim1.jpg" height="200" width="370" />
        </div>
        <div>
            <img src="~/img/resim2.jpg" height="200" width="370" />
        </div>
        <div>
            <img src="~/img/resim3.jpg" height="200" width="370" />
        </div>
    </div>
    <br />
    <div class="card-group">
        <div>
            <img src="~/img/resim4.jpg" height="200" width="370" />
        </div>
        <div>
            <img src="~/img/resim5.jpg" height="200" width="370" />
        </div>
        <div>
            <img src="~/img/resim6.jpg" height="200" width="370" />
        </div>
    </div>
</div>
